/* Changed some of the CSS to customize it */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  line-height: 1;
}

textarea {
  background: transparent;
  border: none;
  resize: none;
  color: #000000;
  border-left: 1px solid black;
  padding: 10px;
}

.jumbotron {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

.description {
  white-space: pre-wrap;
  border: 1px solid black;
}

.time-block {
  text-align: center;
  border-radius: 15px;
}

.row {
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid white;
}

.hour {
  background-color: #ffca3a;
  color: #000000;
  font-size: 20px;
  font-weight: bold;
  border: 1px solid black;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.past {
  background-color: #d8e2dc;
  color: black;
  font-weight: bold;
}

.present {
  background-color: #ff595e;
  color: black;
  font-weight: bold;
}

.future {
  background-color: #8ac926;
  color: black;
  font-weight: bold;
}

.saveBtn {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #6a4c93;
  color: white;
}

.saveBtn i:hover {
  font-size: 40px;
  transition: all 0.3s ease-in-out;
}
